/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --font-roboto: "Roboto", sans-serif;
	--font_lilita_h1: 400 2.3rem Lilita One, sans-serif;
	--font_lilita_h2: 400 1.5rem Lilita One, sans-serif;
}

/* overriding default styles */
* {
    padding: 0;
    margin: 0;
	font-family: var(--font-roboto);
	font-weight: 500;
	font-size: 22px;
	user-select: none;
}

body {
	position: fixed;
    width: 100%;
    height: 100%;
	background: #c8c8c8;
}

main {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 1024px;
	height: 100%;
	margin: 0 auto;
	/*justify-content: center;*/
	margin-top: 20px;
}

h1 {
	font: var(--font_lilita_h1);
	font-size: 3rem;
	margin-bottom: 15px;
}
h2 {
	font: var(--font_lilita_h1);
	font-size: 2rem;
	margin-bottom: 10px;
}
p {
	margin-bottom: 10px;
}

#info_display {
	display: flex;
	gap: 15px;
    align-items: center;
}
#info_display * {
	font: var(--font_lilita_h2);
	font-weight: 400;
	font-style: normal;
}
.number_div_top {
	margin-right: 40px;
	display: flex;
    align-items: center;
}
.number_div_top img:nth-child(2) {
	height: 30px;
    padding-left: 5px;
}
#merry_bird_logo {
	background: url("../images/merry_bird.png") top / contain no-repeat;
	margin-right: 30px;
    height: 78px;
    width: 100%;
    position: absolute;
}

#hide {
	display: none;
}

#game_window_frame {
	width: 100%;
	height: 80%;
	border: 30px solid #006011;
	border-radius: 20px;
	margin-top: 5px;
	box-sizing: border-box;
	max-height: 576px;
}
#game_window {
	background: linear-gradient(0deg, #e9f6fd, #5fc2f6);
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	position: relative;
	box-sizing: border-box;
}

#bird {
	width: 80px;
	height: 60px;
	background: blue;
	border-radius: 0%;
	position: absolute;
	top: calc(50% - 20px);
	left: 50px;
	z-index: 2;
	user-select: none;
	/*margin: 20px; key-move ro xaraab mikone cera ?! */
}

#obstacle {
	position: absolute;
	right: 0px;
	top: 0;
	width: 40px;
	height: 20px;
	background-color: ;
	user-select: none;
	background: #c03800 top /contain repeat-y ;
}


/* control-buttons */
#buttons {
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 22;
}
#buttons button {
	padding: 10px;
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
	border: 2px solid black;
	user-select: none;
	cursor: pointer;
	opacity: 0.5;
}
#buttons .buttons_row {
	text-align: center;
}
#buttons .buttons_row_2 button {
	margin: 0 20px;
}
#button_up {
	margin-bottom: -10px;
	background: url("../images/arrow_u.png") center center no-repeat ;
	background-size: 38px 26px;
}
#button_down {
	margin-top: -10px;
	background: url("../images/arrow_d.png") center center no-repeat ;
	background-position: 50% 57%;
	background-size: 38px 26px;
}
#button_left {
	background: url("../images/arrow_l.png") center center no-repeat ;
	background-size: 26px 38px;
	background-position: 47%;
}
#button_right {
	background: url("../images/arrow_r.png") center center no-repeat ;
	background-size: 26px 38px;
	background-position: 53%;
}



/* message windows */
#dark_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
#message_box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 30;
	width: 100%;
	height: 100%;
	
}
.message_window {
	position: absolute;
	min-width: 40%;
	max-width: 80%;
	min-height: 50px;
	background-color: white;
	box-shadow: 0 0 10px black;
	padding: 20px;
    border-radius: 12px;
	display: flex;
    flex-direction: column;
}
.message_window h1{
	text-align: center;
}
.message_buttons{
	text-align: center;
	margin-top: 20px;
}
.message_buttons button{
	cursor: pointer;
	padding: 8px 40px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    border-radius: 8px;
    background-color: #006011;
    color: #fff;
    font: var(--font_lilita_h1);
	border: 4px solid #004011;
	border-top: 4px solid #00a91e;
	border-left: 4px solid #00a91e;
}
.message_buttons button:hover{
	background-color: #008915;
}
.message_buttons button:active{
	box-shadow: inset 0 0 0.5em 0.1em #011;
	background-color: #006011;
	border: 4px solid #008915;
	border-top: 4px solid #002011;
	border-left: 4px solid #002011;
}
#start_message {
	
}
#hit_message {
	display:none;
}
#won_message {
	display:none;
}
#won_message p {
	text-align: center;
}
#gameOver_message {
	display:none;
}

.flex-2column {
	display: flex;
	margin: 0 40px;
    gap: 20px;
}
.flex-2column div {
	align-self: center;
}